{% extends 'master.html' %}
{% block title %} Home {% endblock %}

{% load static %}

{% block content %}

    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>We Are Hexashop</h4>
                                <span>Awesome, clean &amp; creative HTML5 Template</span>
                                <div class="main-border-button">
                                    <a href="#">Purchase Now!</a>
                                </div>
                            </div>
                            <img src="{% static '/assets/images/left-banner-image.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            {% for cat in Categories|slice:":4" %}
                                <div class="col-lg-6">
                                    <div class="right-first-image">
                                        <div class="thumb">
                                            <div class="inner-content">
                                                <h4>{{cat.name}}</h4>
                                                <span>{{cat.description}}</span>
                                            </div>
                                            <div class="hover-content">
                                                <div class="inner">
                                                    <h4>{{cat.name}}</h4>
                                                    <p>{{cat.description}}</p>
                                                    <div class="main-border-button">
                                                        <a href="{% url 'categorie' cat.name %}">Discover More</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="{% static '/assets/images/baner-right-image-01.jpg' %}">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}