{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/flex-slider.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/templatemo-hexashop.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="{% static '/assets/images/logo.png' %}">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#men">Men's</a></li>
                            <li class="scroll-to-section"><a href="#women">Women's</a></li>
                            <li class="scroll-to-section"><a href="#kids">Kid's</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#explore">Explore</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div style="height:100px;"></div>
    {% block content %}{% endblock %}


    <script src="{% static '/assets/js/imgfix.min.js' %}"></script>
    <script src="{% static '/assets/js/accordions.js' %}"></script>
    <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/js/custom.js' %}"></script>
    <script src="{% static '/assets/js/datepicker.js' %}"></script>
    <script src="{% static '/assets/js/isotope.js' %}"></script>
    <script src="{% static '/assets/js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static '/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static '/assets/js/lightbox.js' %}"></script>
    <script src="{% static '/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static '/assets/js/popper.js' %}"></script>
    <script src="{% static '/assets/js/quantity.js' %}"></script>
    <script src="{% static '/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static '/assets/js/slick.js' %}"></script>
    <script src="{% static '/assets/js/waypoints.min.js' %}"></script>

</body>
</html>