{% extends 'master.html' %}
{% block title %} Products {% endblock %}

{% load static %}

{% block content %} 
    <!-- ***** Products Area Starts ***** -->

    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Latest Products</h2>
                        <span>Check out all of our products.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in Products %}
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="{% url 'single_product' product.id %}"><i class="fa fa-eye"></i></a></li>
                                    <!-- <li><a href="single-product.html"><i class="fa fa-star"></i></a></li> -->
                                    <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <!-- <img src="{% static '/assets/images/men-01.jpg' %}" alt=""> -->
                            <img style="min-height:370px" src="{{ product.thumbnail }}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>{{ product.name }}</h4>
                            <span>${{ product.price }}</span>
                            <!-- <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li class="active">
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}