{% extends 'master.html' %}
{% block title %} Products {% endblock %}

{% load static %}

{% block content %}
    <!-- ***** Product Area Starts ***** -->
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                <div class="left-images">
                    <img src="{% static '/assets/images/single-product-01.jpg' %}" alt="">
                    <img class="in-front" src="{% static '/assets/images/single-product-02.jpg' %}" alt="">
                </div>
                <div class="preview">
                    <img src="{% static '/assets/images/single-product-01.jpg' %}" alt="">
                    <img src="{% static '/assets/images/single-product-02.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>{{ Product.name }}</h4>
                    <span class="price">${{ Product.price }}</span>
                    <!-- <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul> -->
                    <span>{{ Product.description }}</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod.</p>
                    </div>
                    <div class="quantity-content">
                        <div class="left-content">
                            <h6>No. of Orders</h6>
                        </div>
                        <div class="right-content">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus">
                                <input type="number" step="1" min="1" max="10" name="quantity" value="1" title="Qty" class="input-text qty text" >
                                <!-- size="4" pattern="" inputmode="" -->
                                <input type="button" value="+" class="plus">
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        <h4>Total: <small class="total_price"></small></h4>
                        <div class="main-border-button"><a href="{% url 'cart' %}">Add To Cart</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- ***** Product Area Ends ***** -->

{% endblock %}

{% block script %}

    <script>
        var pr=document.querySelector('#product .preview'),
            img = pr.querySelectorAll('img'),
            real=document.querySelector('#product .left-images'),
            images=real.querySelectorAll('img');
            
        pr.addEventListener('click',function(e){
            let t=e.target.src,
                terget=t.substring(t.indexOf('static'));
                images=real.querySelectorAll('img')
            for(let item=0;item<images.length;item++){
                images[item].classList.remove('in-front');
            }
            real.querySelector('img[src="/'+terget+'"]').classList.add('in-front')
        })

        var price = document.querySelector('span.price').innerHTML.replace("$",""),
            total=document.querySelector('small.total_price'),
            qte=document.querySelector('.buttons_added .qty').value;
            

        function calcuteTotal(q){
            total.innerText="$"+(parseFloat(price)*parseInt(q)).toFixed(2);
        }

        calcuteTotal(parseFloat(qte));

        var buttons = document.querySelector('.buttons_added');
        
        buttons.addEventListener('click',function(e){
            
            qte=parseInt(document.querySelector('.buttons_added .qty').value);
            
            if(qte>=1){
                switch(e.target.getAttribute('class')){
                    case 'plus':
                        qte+=1;
                        document.querySelector('.buttons_added .qty').setAttribute('value',qte);
                        calcuteTotal(qte); 
                    break;
                    case 'minus':
                        if(qte>1){
                            qte-=1;
                        }
                        document.querySelector('.buttons_added .qty').setAttribute('value',qte);
                        calcuteTotal(qte);break;
                    default:break;
                }
            }
        });

        // console.log(total);
    </script>

{% endblock %}
    
